@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Open Sans";
        src: url("/fonts/Open_Sans/OpenSans-Regular.ttf");
        font-style: normal;
        font-weight: 400;
        font-display: swap;
    }
    @font-face {
        font-family: "Open Sans";
        src: url("/fonts/Open_Sans/OpenSans-Bold.ttf");
        font-style: bold;
        font-weight: 700;
        font-display: swap;
    }

    @font-face {
        font-family: "Montserrat";
        src: url("/fonts/Montserrat/Montserrat-Regular.ttf");
        font-style: normal;
        font-weight: 400;
        font-display: swap;
    }
    @font-face {
        font-family: "Montserrat";
        src: url("/fonts/Montserrat/Montserrat-Bold.ttf");
        font-style: bold;
        font-weight: 700;
        font-display: swap;
    }

    h1.mini-underline::after {
        content: "";
        display: block;
        width: 62%;
        height: 1px;
        background-color: #ffffff;
        margin: auto;
        margin-top: 10px;
    }
}

a.link {
    @apply text-blue-500;
}

a.link:hover {
    @apply text-blue-700;
}

button.button {
    @apply bg-blue-500 text-white rounded-md px-4 py-2;
}

span.token {
    opacity: .9;
}


pre[data-line] {
	position: relative;
	padding: 1em 0 1em 3em;
}

.line-highlight {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em; /* Same as .prism’s padding-top */

	background: hsla(24, 20%, 50%,.08);
	background: linear-gradient(to right, hsla(24, 20%, 50%,.3) 70%, hsla(24, 20%, 50%,.1));

	pointer-events: none;

	line-height: inherit;
	white-space: pre;
}

@media print {
	.line-highlight {
		/*
		 * This will prevent browsers from replacing the background color with white.
		 * It's necessary because the element is layered on top of the displayed code.
		 */
		-webkit-print-color-adjust: exact;
		color-adjust: exact;
	}
}

pre[id].linkable-line-numbers span.line-numbers-rows {
	pointer-events: all;
}
pre[id].linkable-line-numbers span.line-numbers-rows > span:before {
	cursor: pointer;
}
pre[id].linkable-line-numbers span.line-numbers-rows > span:hover:before {
	background-color: rgba(128, 128, 128, .2);
}


